# Node modules
node_modules/
**/node_modules/

# Expo
.expo/
.expo-shared/

# macOS / Windows / Linux
.DS_Store
Thumbs.db

# VSCode / IDE settings
.vscode/
.idea/

# Build files
dist/
build/
web-build/
*.log
*.lock

# dotenv & secrets
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Metro cache
metro-cache/

# OS log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.pid
*.seed
docker-compose.override.yml

# Prisma
backend/prisma/migrations/
